#para1 {

    text-align: center;
    color: red;

}

#para2 {

    text-align: left;
    color: white;
    font-size: 30px;

}

.centrar
{
    text-align: center;
    color: red;
    font-style: italic;
    font-size: 35px;
    font-weight: bold;
}

img{
    margin: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

video{
    margin: auto;
    display: block;
    width: 50%;
}

audio{
    margin: auto;
    display: block;
    width: 50%;
}

.centrar{
    font-weight: bold;
}

.MiEstilo1{
    background-color: blue;
    font-size: 25px;
    color: white;
    padding: 10px 10px 10px 10px;
}

.menu li{
    list-style: none;
    color: #000;
    display: inline;
    background: #fff;
    margin: 0 20px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}
body{
    background-color: darkcyan;
}

#encabezado{
    color: #fff;
    border-radius: 10px;
    width: 80%;
    margin: 10px 10px;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUWFRgWFRYYGBgYGBoYGRgYGBoYGBoYGhgaGRgaGBocIS4lHB4rIRgYJjgmKy8xNTU1GiQ7QDszPy40NTEBDAwMEA8QHxISHjQrISs0NDQ0NDQ0NDQ0NDQ0NDQ0NDQxNDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQxNDQ0NDQ0NP/AABEIAKgBLAMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAADAAECBAUGB//EADwQAAIBAgQDBQYDCAEFAQAAAAECAAMRBBIhMUFRYQVxgZGhEyIyscHwBkLRFFJicoKSouEjY7LC0vEz/8QAGQEAAwEBAQAAAAAAAAAAAAAAAAECAwQF/8QALBEAAgIBAwQBAgUFAAAAAAAAAAECEQMSITEEQVFhEyJxBYGh0fAUQpGxwf/aAAwDAQACEQMRAD8A8z09kpvqcycdLHMT32YL4w3YZOcjmp8SCP8Acq0mX2bgrd7rY8l439PMcofslsrFrXy2Y62OUe63fo1/ATqOaauLRvskGyyyVuLwbJNaPOTK5WQKywySLLCikyuVkGWWGWCJ97Lxtf1hRSdgisiVhysjlhQ7AZYssKVjZYUOwJWMRDFY2SFFWBtFaFyxZYqCwWWILDZYgkdBYPJGyw2WOEhQWBCyQWFCRwkKCwWWTVIXJJKkKJbAqkmEhVSTCQolsGqSSpDinJokKJcgSpCIkKqR6rBVZjsoJ8oUK72OVa/tHYH3lYsP6XA05jX0nUYTJkVr2Ui4ubZQfy+G3hOWwI/5VBIOZsra2BDe62vcdPCdPTwRp3XKWVjZWGhUtupP5VOpzDn3TNHTnSaSsx+3a5cqq6LqwJ2aw+L+X4rc7X14dDQwmV6R/ep+zPUqAwPkrecpYnAVXYDKAGsORAuLm35QFUgL/HzY5drHNlZcpGazEBvgVbLmqPxyqNNNyQIezLJJVGEfDOS/EK58V7Mb+4ni1j/5THrvdmPNifWbPYJNXF5yczWdwSLAuBZCRwAJBtwtMRltbjoDfvAP1iOyC0rT4SHKEAXG4uO65HzB8p6n+GsV7XDoyqwsMp+HVlFmO/E89Z5pWosKVNzbK2dBbcFWDHN19/yk8H2pWpLlpvlBN7ab2A+QEERmxLJEo3l7sZgKy5tjdf7hYA9Dt4ylJUnsQeRBjRo1s0dutEi44X0HLp3RmSaFAB1Vl1DC4jGhqRxFifG9vkZsjx3N275M004Ip9/fdNNsOZTWneo4t8IQeeZvqIFRldsrlJUbSoBbdT4m6/fhNZqEzBY1yCfykL/S3vH+64/pMGjbG7v7DlJEpLppyJSOiVIplJEpLmWRNOFFqRUyRZJb9nIlIh2VskbJLXs4vZwHZWyRwksezkhTgFlb2clk85Y9nHCQCysKcl7OWQkmKcKE2VgkkKctLSkhRMdEORVFOTFOWRRk1pQolzRXCSapLIpdI4pwojUgCpKXaZVrUybD4nI/Ki3bXqSvzmqaZ4W8ZgduOqqaSEu7sC5FyTxA056WXgJM9ka4Fql/P8mBWxGaoXtb3rgDgAdAO4ACej0lzAG2hF/OeZupBIO40M9I7HrZqFNrj4VvrxAsdO8SYcmnXL6E0XEw92DWOgYWuLe8V1/x9Zzf4nYi9HKGrVnU20YrTViKSryJNz/U3SdDjMetKm1Rjoo0Avcngo7zMD8JJ7WrUxNU5mByj+EkakcgFso6Xjmt6OfptSTyS4XHsq/hXs43rs1gE/43P8IJaoo7woW/JjxtOaqtfKear4WFrek67siqzYTFMosatRzcmwCkLmOvIMx8JxwmTR6OOTlKV+Uv0NBsYv7KtLdxXep3L7NFGvVr/wBvdM6X+zlUrWuCW9kcoAJt7yszE7BVCH+4CH7LalkPtKrKQxsBtawPzJgbKk+DIhqagggD3rix4WAOYW/t8jAwlN7EHkYIT9Hefheuq4Z2zDKlyVb40ZiQMy/mUtaxHEkW5WOyXZnclS3uUdRzKXueV7kwXblCkcNQqooR3VFJUkXUrmYEDRhmAOsq/h7GGn7bUi9JzpxK7DY8zNoJpHmZVGVtcs6WlSVxdfL74TKwRD1q6gfCygHg2VRmt3Fh4MvONg/xDlo5LgOAiBrD3FyBAwJJufd2txvsLSH4dqf8a1GJzNijTW2+VkRWuNNAtIf237lKVMzhhcYSb+yL74WcbVrZcYzZVK0bBl1AyCyNoLE2zEnuJnpGLpZVZyQQouedhy5np1nmHZuIDYl897VsykE/vODYnuFopvg16NNqTfg7WoKRH/426o7D/uBEpVcOv5Qw7yD6gCaGCpHLkb4k907XK3IVtODAX77jhDnCy0znvS6MI4eROHm4cLG/ZO6Oy1MwzQjexm6cAd7DwIPyg2wvSFlqRjexi9jNkYEnYDzHyvInCEbgjwisqzIFGOKPSay4bn8rwq4RP37dCpHyvCx6jHWhCCh0mocNbiD3X+sQw8NSJbM0Yfp85NaE0hh5MYeGoTZm+xjijNP9n6R/2fpDUQ2ZgpdJIUzNL9ni/Z47IbM/JHyy8aEgado9TJ2MntFsqli4pqN2tc9yjiZg4XCg5q/vKlLMyBrZmYqSzMeZYpz2tOkq9mIzBnJcr8Kn4QeeXjw35TK/FeNVU9kDdmsSBwUG4v3keQMiXlnXhl/bHl8/Y4wmdV+DsXo1I7j3l7jow87HxnJw9BWLhaeYljlW2hObS2nfMk6dnbkgpwcWbXb2MOIZghvTpC9xchnb3VtzuTYdMxmth8D7PDFqZ956FmFrDMbnNcnTKGYdwHKVMMUCpRRcppBq1a+oLovugnj7xGnC1pYDn9kCJ7z1VKKvG50e/IABjfrLSu2zmnsoxjsk/wBPYLsN7YQjSxTEXzbaBSCek5ATeTGinQZVBsTUUltGBdE06kFTeYMh9joxRabflnT/AIQYFMSh+JqVh1GVgfUiY2C7SNNbczf0A+kBg8S1Nwy/lPgbggg94Jle0OTSEam35FJ0wCQCbAkXPLmZCOBEM21xrqFoVT7qMcpPC9iRflsel/K1SJyvY65dOvvLpKOCpGooUlXXkTZ102Hpa+mnKWRh8l1BuPodQfKbQk2qOfNBLcnhkCo7NYnQm/eAfS8bsDFsKyNsFZ2tf3ffzA+QvrA16mmUfzHuBFh4mA7LqEMjfunxOZtj6ROromm4NvuegY7tJWptVItSpDPla13qLYoMv7gYqddzl4anzbCucxqkgsjLUIOhc51vrsNTNbtfGkoaSG4NmduGVRex8VB/pmNgVBqIrGyuyq/D3Sy3+h8JMqvYrp4aYbo9mUo9nABuLqbflax8to+QQWBw600WmpJCgKCTc7DKD4ES4qrLvY81x32A+zWJsOLX0tLAC8vUxzTRtxfxP0MhstYymuHBFxqIzYWaVKii/CLeJ+snkWS5GscbMc4WR/ZZtCiDEcKOUjWaLEzEOFkhhZtDCyYwwieQv4mYgwvSTGFm0MMI/sB084vkH8TMU4fofIxsijn5GbRongt+4j6wbqeNN/Cx+UpTIeJmQcvA+n+4jbr4L/uaqvb8j+RMr18cAwCi4/Nc2I6DrKU/RDxMzrrxLeQERyHifvumscQh6+Bleo6jUA+DKfQ3lqfozeNlAUk6eJ/WS9ivC3haWWxK/u38R9BKr10LMtiLKpsCTuWHP+H0lJtmbgMMMDtbynBfi/BJRNsxapUIdr/lQXUDqWJOvJQABN7tf8RpRBUEM/BQxIB5vbYdNz6zkT2fWrhq9UkXs2ZiBmLD3QOPDYC+q2BveTI6umxyi9T2X+zEhKNQqwYXuORtoRYi41FwSNOcar8R234Cw8Bwjqt1Ol7WJPEDb1v6SDuOnFYNSZqahfakUlW4ARFXUHvJbqbiQ7AqD3yfi58FQm+VeQvqeekyML2jlUKV1U6NzFiAGHG194Fqx+Fdz7pI4g/lmiaW5zvG3a8kcbiCzNYkqXL24ZjuZWknuLrwvw2Nrj6nzkJmzoSpUFpv7jjmV9MxgoSgt2A5kX7r3MhWWzEdYwGhsMwzLfa/33iBjhogNSn2fYhg9rE20vpwmtjgbI975hqdPi/NsBxuduMxMPi7AA6cjwlzD2YMb7WOm2+plRpOzOTbVNAsSb5mXQMbDoQFzW6A28xKuHJNgDaxXv1IIt1EISFzgk7Gw5ki5PygKK7HlY+A3++kGC4LOKqqFKroTfMeJFwRcnc3mdaFrMDoo0GpPOCT5fZg3bKiqR3XZnbpdFzMcxqU8522yhtO5QZ1tGvfY39eJH0M8qwdQCxAAII14nXj6idPhe0WVCFP5116BbnwOf0l1aOWUIqT22OzveESneZ2C7VplC7H89TroCX+R9JuLSnNObjydcOnUuAK04ZFPOHSnDLRmLym0eloAiOdheWEwrHmO/8AUSSU7S9QqcG85DzM1XTlP9jfp5n9Imwj8r+I+s0RUHI+UXtxyMj5mUsBlGk/7jeUZqbDdSO8GaTPfdf8mHygnpjginxY/URrKP4DPI6ekZjzF++XSCNlX+0H5wToSbn0FvQSllH/AE5TdBy8tIFqY6y49E8/WAdbbn1++cpZiH0tlZlA4yOdhxPg36yL4rUgC9rSq9Zr7L5TRZiJdG/BYZr738SJjvg81SqCEYMiZlb4bXcAEEW/Lf8AXeWjUPFQfMcSfr6TCXtAnFVFUWBRVtc5vduc3+R03sR1E0hO7OefS6GvZV7S7NoUgWyB3IsqqwAC6A6KAqrvc8bsBynP4/tRmsCwYqDqoIVL6MEBG52zEk7gWvOoeqjNlNtc4N/+mwQ3++E5jtvErolKwv8AEFUDiVsSOfL9ZaY9Fcsw2MLh9bjlY35b/O8CZOm+U3jQmti3iGXIL2LXIAAsbb5m+njBdnmzXIv3wVNxqTqbad54+EkpIGg2Gt473slqlQ+IsWOwsD/qV5Lh11uZGJlJUHwS3YdATIYv4z3yeEazeBg6huSesfYmvqIRRWk0tuZJRKnU2B1EtUKwW+U6EQIAI2kGUC3fKojlknqEknnceYtB2O1+H38pNlsJAjSA0w9Rgq25yqDaTqW5HxkBE2NKixTYr/KfG00sPX0NjzPy1lCkthvDpp5SlsZumy3RxXuW6m39p/WegUvxYmRBlOdkza23vYDyvPMqJ08fpL6VtU02AHlfWRkgpVZrhyODdd6PTW7fBQZR72VbnhmIBNvWamF7RV9FYdL77m3yE837ErFjYndvQIP0ml2f2hfKwNjfcaWtnN/8PWcWTClaR7GCTkk33/4ekU6nOWkA3nO9n9oX0be518NBNXDVsygjkD3Ei84JSceTeeNo0kby84UUyeN/ASijHaWErEfWJZUc8ovsEah0+UE6gSVWqT5Sq1zH8qHCL7sdqg4SrVc7g9w8IUpMrE9pKvtAdCrsi32LLh/beVg3lKi3J7GqcY7sm4PWVnG534eWn0l+lUVrai5VHt0e4U+JBE5fsvtE1XpqLAvWrMRcE5AhawHew8ptCDkm/BUs8ItLyBw2IJxlRL6LTGnJroRoOjnXrtpC/iCoadB3Bswykd+ddPnOdq4sJisU6sb+zqZWsfiuoS3Ta3D0m1+M3zYQEah2Qg9CCwPp6zqlCpL8jkjmUsc/KsHT7QU1qiXuFSnlHM2LsR4OnlOSxHarGsKuULdfdABtZgwJ0GpuW15jkIKliWzl9ScrDf8A6ZQXPTTylYVWJUk/CoUcLKo0AnVHGonm5OockvuV6mPquxN8urk2H75u2vhK70wApDXbc8l4gX59Jbaw7oPE4jMFVRZVv0BY9PASmjNSsp1N/meZ3JkDHJiTfWIoPhiBfMNxoTt3SDG+kI9stuulufSDRNI/RPsVxxFgNe/9IIwjiDMkpCjyVLVh3g+sJifiOnU951+sKFYERrySxmEBhab8JMyuohlJlJktdx3Gkhc8BJtsZEE20EBLgGV0vGXe0dhzjRFlmkbaHwlh00+cHh2BFjv1litTIXSWuDCT+oDhxLirtA4ZLjrxHylsptKSIlKmaHZJtmPI39DJ4ByVAtzH/cP/ACjYNLI5Jtodt9x+sbCVgijQk32vpbv+9phKFt0d+PqNKim6VM7Hsj32qkHQOvrTT6gzZwtYiqVBA9xTbqS9yelh/wDeHPfhHEgtVFgCxVrcbC4/Tzl/B1c+L0toiqeHFr/zbjfbh18rNjqTXhHswz68Sd8tnXYepfQ7gQ6i4BHEXlNFMtYW+QD+EfKeZPbdETVboLkjGnCKDE15GpmWplatlVSzGwUFieQAuT5TzT8R9qszumUqBiWYBswbK2GWkLiw0IZiNfzDhYnufxNjkTD1lzWc0msLfvhlB8wZ5NVqBmJAOrZizG7EkC97abgna+s9f8NxarlI4urzONR8nT4jtRkQkEArhcKRbmlZf/fUfY5DD4pqbU2RiGQ3G+9iNee9vOW8VWYIw/eUJ/SHV7f427pQdTcT1seJRT9nDlzNtegJYlmJNybg9df9CanafbBq0KdHKR7PJ719CFp5Tcc8xbwtKKJrEEmrxxbTfYyWeUU0nzyVwmhgQmsvinBGgCbGU4kazOr4e51O33xgquVQMtz14XMuvhludOcrYukEtexa22+XlvqZnJUbwkntZRYc4QUjlzDx84Iy7htFvwvIW5rJtIBh3UH3hJZzf3eMI6KeHlAE20EfBOz3IsLHWQMctEZJaJUVubSVQG+u8agfeEeudY+xL5BmNHitEUKSU2kY4gBNnkQYrxhHYqJNGTeJRHUbQDgfJyNpcWvew6EE87wJSOqyjN78mnhlBXYXHnaWPaC33a0oYapbxEOH+/v70lrc55Lc0qVVedrg87W0vr4w1OkDtrMdqp4Dz77w9PGta3w8Li4PA/SGlkyT7G3hM6Orpoym4+oPQ7Tquz0DuayaEoAQNwxJvc8Dp8jOGw+PItdr25638ZsdndvFCSoABtcb7fZnN1GCU43Hk6Ol6p4ZVLeN3+Z3GGdl2NxyOvl5zVw2Ia1goIHHbb7E4zDfiYMwBsv8wsviQdJtYfts2IpKlRuaVFYe9b8o14Tx59JkT+pHrrrsM1sbL9paaDxmTjMa25cgb6EzD7Q7bq0zlcBDb4ShDW5+8Zi4jtt3217/ANLy8PQSe9KjOf4hihait/aNDt3HtUZ2J3RE00uAzHXr7xnNLRNz84apiyTdte+BfGLxtPXxYXjjpSPJy5/klbI46mLb3N/vuld3U20OndGqYkGV61e22p9BN1GluYtuTLKML7RNWRRvryGpmeajNoT4cIzAA2J0jbGoXyGOMC65fX75w9HFK2+n3feY+IbVl6i3pII9tJGt2a/EmjVqMu2Yayi+EUG9yfKQzDiYCvV000Hqf9Qcl3KhBrZMANvv75Q9MEC3A6wIOgHjCB9JKNpbk3MrljHZzIxNjiqFxjNHEZohjoNYnGsSbxOdYC7kYoooDHvEDGMQgBO0QElpbXfhGXaMVjAR1iQa6yapxhQNhUUHf0km906a9DuIRKtuG+0Zlvr8o6Mr8jo47pbQi24lIsO4SaOBLToiUbLbL1kvZabiVlbrJ5yJaZk4sKVtxAjB+srvUPGN7Q9IWNQ2NjBrX0KBuY4Kbbb6Gdx+GcU5VhiUpkrlKMVp3I1BByjW1hr1nD9l9rIl1KsL8S+ZQeYAAt6zoEx5G1v9TPJjWVU1+5HzSwytL9jtamOBN9OXhMztgUHS9UqoBvnuFINraN47Tn6/aZy2BIJ/MLG3gRrOdx9JSc1Sq7HhmA9NdPCYx6RRdrajZdZPIqlVPsbeJ7HRkD0auYHi2qnn7yjTutOarIVcqbG3EEEc9xGqOqqVR3IJ94fCpFuIB1Mqlp1Rut2Z6V2RZzrIu4te2vfAEAjrJIogw00M1Y20sIIsb3OsKKQuR9ZEpJotUVHGp++EZVudJbBUHUXvpAslrkbcJm0apkXp7X5kdLiBrL990OX0FuGnp/syNRQb8LKfE/Yh2GnuVmN4gbRFxrIs14jShzGkTFEMlaM0aK8AHQ6xGNFeACiiigAooooASvGVo0UAoJSOvhDZh3Svn9ZOmB6SkyZLuGWSBkRHtKohjiPeRAlijQzfmUfzEj1taNIlugQMsYd1BBubyLYRv4T3Ov6ydLBObEAeJUj56ykiZU1yXuFrC29rCOAOIB8BpI024O6qAPyi58ra+cFUq2Ng1xztb0lpI56dlpaxGgYju0h6OIIFgb9/01mX7Xr6f7je2POPZA4XyXsR2iq7XY8QNh4zMxGKLG+w4DeWDi24lT3qp+kh7X+BD/SPpJdsuMVHsVQx5X7ova9JdbFvawIUfwi0ElWx1APeAT13iotP0V8/Qxe0iqqVNj4cflBM0ktKwntIjUgc0YtFZWkmzbGMzbwBqa76SJqSHIpRDE2EC9S8gWvFE2Wo0KKKKIYooooAKKKKACjR4oDFFFFEIaPFFGMUUUUQhRwYoowGBhqDm9jFFGuQfBZEkIopsjnYQREx4pRIo148UAGvJCoeZiijERzSUUUAFIOY0UTBEfaW624GxHkRAGKKZs1Q0DVbhFFIZpHkHHiikFCjRRRgPFFFAYooooCFHt1iigArdRGiigB//9k=);
    padding: 10px 10px 10px 10px;
}

#piePagina{
    color: #000;
    text-align: center;
    border-radius: 10px;
    width: 81%; /*81 */
    margin: 30% 10% 10px; /*30primero */
    height: 100px;
    background-color: #fff;
    clear: both;
}

#seccion1{
    float: left;
    width: 40%;
    height: 30%;
    margin: 0 0 0 5%;
    background-color: blue;
    padding: 10px 10px 10px 10px;
}

#seccion2{
    float: right;
    width: 40%;
    height:  30%;
    margin: 0 5% 0 0;
    background-color: red;
    padding: 10px 10px 10px 10px;
}